<section class="login">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="nav">
      <%= link_to root_path do %>
        <i class="fa-solid fa-arrow-left back"></i>
      <% end %>
      <div>
        REGISTER
      </div>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render partial: "devise/shared/notification"%>

    <div class="row g-2 mt-5 container">
      <div class="field">
        <%= f.text_field :name, placeholder: "Full name", autofocus: true, autocomplete: "name", class: "form-control stuff" %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control stuff" %>
      </div>

      <div class="field" >
        <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control stuff" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control stuff" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up", class: "btn btn-primary mt-3 col-md-4" %>
      </div>
    </div>
  <% end %>
</section>
